.resto-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .resto-container {
    justify-content: center;
    width: 80%;
  }
}
