.header {
  position: relative;
  height: 80vh;
  width: 100vw;
  background-image: url("../../assets/foodnestfresh.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header-content {
  z-index: 2;
  text-align: center;
}

.logo {
  width: 360px;
  height: auto;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  background-color: transparent;
  color: #c7ae6a;
  border: 2px solid #c7ae6a;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn:hover {
  background-color: #d4af37;
  color: #fff;
}

.main-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.offer-banner {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d4af37;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
}

.cartButton {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}

.homeButton {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
}
